body {
  background-image: url("https://img.freepik.com/free-vector/abstract-light-shapes-geometric-background-business-advertising_1017-42845.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex: 1;
  overflow: inherit;
}

h2 {
  color: rgb(10, 29, 53);
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-container {
  margin: 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width: 100%;
  max-width: 400px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  padding: 10px;
  width: calc(100% - 22px);
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  padding: 10px;
  background-color: #49d8d8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #3a9fa7;
}
